<div class="full-width-row-two">
  
  <div class="large-4 medium-6 small-10 small-centered columns">
    <h1>All Bird Entries</h1>

    <%= link_to 'New Entry', new_clip_path %>
    <br></br>


    <div class = "center">
      <table align = "center">
        <tr>
          <th>Title</th>
          <th>You Tube Id</th>
          <th>Text</th>
          <th></th>
        </tr>
       

        <% @clips.each do |clip| %>
          <tr>
            <td><%= clip.title %></td>
            <td><%= clip.youtube_id %></td>
            <td><%= clip.text %></td>
            <td><%= link_to 'View', clip %></td>
            <td><%= link_to 'Edit', edit_clip_path(clip) %></td>
            <td><%= link_to 'Destroy', clip_path(clip),
              method: :delete, data: { confirm: 'Are you sure you would like to delete this entry?' } %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <br></br>


    <%= link_to "Welcome Page", controller: "welcome" %>
    <br>
  </div>
</div>