<h1>New Bird Entry</h1>

<%= form_for :clip, url: clips_path do |x| %>
  <p>
    <%= x.label :title %><br>
    <%= x.text_field :title %>
  </p>

  <p>
    <%= x.label :text %><br>
    <%= x.text_field :text %>
  </p>

  <p>
    <%= x.submit %>
  </p>
<% end %>

<%= link_to 'Back', clips_path %>