<div class="full-width-row-two">
  
  <div class="large-4 medium-6 small-10 small-centered columns entries">
  	<div class = "entries">
	    <h1><%= @bluejay[:title] %></h1>

	    <h3><%= @bluejay[:short] %></h3>

	    <iframe width="420" height="315" src="//www.youtube.com/embed/YV53PYId_Xg" frameborder="0" allowfullscreen></iframe>

	    <p><%= @bluejay[:description1] %></p>
	    <p><%= @bluejay[:description2] %></p>
	    <p><%= @bluejay[:description3] %></p>
	    <h3 class="button"><%= link_to "Welcome Page", controller: "welcome" %></h3>
	</div>
  </div>
</div>